<div class="container">
  <div class="show">
    <div class="show_date">
      <p><%= @article.display_created_at %></p>
    </div>
    <% if user_signed_in? && current_user.has_written?(@article) %>
      <div class="article_detail_actions">
        <div class="dropdown">
          <%= image_tag 'actions.svg', class: 'dropbtn' %>
          <div class="dropdown-content mini">
            <%= link_to '編集する', edit_article_path(@article) %>
            <%= link_to '削除する', article_path(@article), data: {method: 'delete', confirm: '本当に削除してもよろしいですか？'} %>
          </div>
        </div>
      </div>
    <% end %>
    <p class="show_title">タイトル</p>
    <%= @article.title %>
    <p class="show_content">内容</p>
    <%= @article.content %>
    <div class="show_detail">
      <div class="show_detail_content">
        <p class="show_detail_name"><%= @article.author_name %>さんの記事</p>
        <div class="show_detail_heart">
          <%= image_tag 'heart.svg'%>
        </div>
      </div>
    </div>
    <div class="show-comment-content">
      <div class="show_comment">
        <%= link_to new_article_comment_path(@article) do %>
          <p class="show_comment_view">コメントする<span class="fa fa-comment"></span></p>
        <% end %>
      </div>
    <div class="show_comments">
      <div class="dropdown">
        <p class="show_comments_view dropbtn-comments">コメント一覧<span class="fa fa-list-ol"></span></p>
        <div class="dropdown-content-comments mini">
          <p class="show_comments_open">開く</p>
        </div>
      </div>
    </div>
    </div>
    <div class="show_comments_index">
      <div class="btn_close-comment">
          <i class="far fa-times-circle"></i>
      </div>
      <ul class="show_comments_index_list">
        <% @comments.each do |comment| %>
          <li class="show_comments_index_list_item"><%= comment.content %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>