<div class="container">
  <p>ユーザーを探す</p>
<%= form_with(model: @profile,url: searches_psth, method: 'get', local: true) do |f| %>
  <%= f.select :musical_instrument, Profile.musical_instruments.keys, {prompt: '選択してください'}, {class: 'form_musical-instrument_text'} %>
  <%= f.submit '検索する', class: 'btn-search'%>
<% end %>
<div class="container">
  <div class="followings">
    <div class="followings_index">
      <% @users.each do |user| %>
        <%= link_to account_path(user) do %>
        <div class="followings_index_user">
          <div class="followings_index_user_image">
            <%= image_tag user.avatar_image %>
          </div>
          <div class="followings_index_user_text">
            <div class="followings_index_user_name">
                <%= user.display_name %>
            </div>
            <div class="followings_index_user_introduction">
                <%= user.profile&.introduction %>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
</div>